.card {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 70%;
}

.info-card {
  display: flex;
  flex-direction: row;
}

.card-img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

.name-type {
  text-align: start;
  padding-top: 25px;
  padding-left: 18px;
  width: 220px;
}

.name-type h5 {
  margin: 0;
}

.counts {
  display: flex;
  flex-direction: row;
  width: 200px;
  padding-left: 108px;
}

.numb {
  padding-top: 32px;
  width: 50px;
}

.clicks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  padding-left: 10px;
  margin-top: 37px;
}

.prices {
  width: 200px;
  padding-top: 35px;
}

.price h4 {
  margin: 0;
}

.trash {
  padding-top: 35px;
  padding-right: 25px;
}
